body {
  background-color: rgba(24, 113, 195, 0.52);
  display: inline-block;
  text-align: center;
}
#gameArea{
  display: center-block;
  margin: 5em;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid grey !important;
  height: 30px;
}

.ship {
  background-color: black;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}
