body {
  background-color: #79705a;
  display: inline-block;
  text-align: center;
}
​
#gameArea{
  display: center-block;
  margin: 5em;
}
​
table {
  border-collapse: collapse;
}
​
td {
  border: 1px solid grey;
  height: 30px;
}
